button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
}

.logo {
  width: 4em;
  height: 3em;
}

.title {
  font-size: 2rem;
  color: whitesmoke;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 1.5em 0em;
}

.body span {
  font-size: 2rem;
  padding-bottom: 1em;
}

.google,
.github {
  margin: 0.2em 1em;
  font-size: 1.3rem;
  border-radius: 1em;
}

.footer {
  padding: 1em 0em;
  color: whitesmoke;
  background-color: skyblue;
}
